<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Mahasiswa</title>
</head>
<body>
<form action="">
    <div>
        <label for="nim">NIM</label>
        <input type="text" name="nim" id="nim" />
    </div>
    <div>
        <label for="nama">Nama</label>
        <input type="text" name="nama" id="nama" />
    </div>
    <div>
        <label for="semester">Semester</label>
        <select name="semester" id="semester" >
        <option th:each="i : ${#numbers.sequence( 1, 12) }" value="1" th:value="${i}">Semester <span th:text="${i}">1</span></option>
        </select>
    </div>
    <div>
        <buttton type="submit">Kirim</buttton>
    </div>

</form>

</body>
</html>